services:
  db:
    image: postgres:16-alpine
    container_name: todo_app_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      # Persists data so it doesn't disappear when you stop Docker
      - postgres_data_todo:/var/lib/postgresql/data

volumes:
  postgres_data_todo:
